input {
    width: 100%;
    color: black;
}

input h5 b{
    background-color: black;
    color: black;
}

.modal-title {
    font-size: large;
    color: white;
}

option {
    color: black;
}

select {
    color: black;
}

label p {
    color: darkgray;
    font-size: small;
}