input {
    width: 100%;
    color: black;
}

form h3 b {
    color: black;
    font-size: large;
}

form div h2 b {
    color: black;
    font-size: xx-large;
}

.modal-title {
    font-size: xx-large;
    color: white;
}

option {
    color: black;
}

select {
    color: black;
}

label p {
    color: darkgray;
    font-size: small;
}