#title_animi
{
    position: absolute;
    left: 8%;
    top: 40%;
    width:30%;
    animation: transitionText 4.5s;

}

/* First Tier */
#blackfoot
{
  position: absolute;
  width:15%;  
  top: 10%;
  left: 8%;
  animation: transitionText 1s;
}
#atg
{
    position: absolute;
    width: 20%;
    top: 11%;
    left: 25%;
    animation: transitionText 1.5s;
    
}
#PSHP
{
    position: absolute;
    width:25%;  
    top: 20%;
    left: 50%;
    animation: transitionText 2s;
}
/* Second Tier */

/* Third Tier */
#MCT
{
    position: absolute;
    width: 20%;
    top: 8%;
    left: 75%;
    animation: transitionText 2.5s;
}
#UWMC
{
    position: absolute;
    width:10%;  
    top: 60%;
    left: 70%;
    animation: transitionText 4.5s;   
}

#CHC
{
    position: absolute;
    width:20%;  
    top: 40%;
    left: 55%;
    animation: transitionText 3.5s;
}
#ProjectTomorrowMT
{
    position: absolute;
    width:10%;  
    top: 60%;
    left: 55%;
    animation: transitionText 4s; 
}

#shubert
{
    position: absolute;
    width: 20%;
    top: 40%;
    left: 75%;
    animation: transitionText 3s;
}


#author_animi
{
    position: absolute;
    left: 10%;
    bottom: 15%;
    width: 30%;
    animation: transitionText 4.5s;

}
#mt_rep_logo
{
    position: absolute;
    left: 35%;
    bottom: 18%;
    animation: transitionText 3.2s;
}




@keyframes transitionText
{
    from
    {
        opacity: 0;
        transform: translateY(1000px);
    }
    to
    {
        opacity: 1;
        transform: translateY(0px);
    }
}
@media(max-width: 768px)
{
    #title_animi
    {
        width: 75%;
        bottom: 10%;
    }
    #mt_rep_logo
    {
        right: 55%;
        bottom: 46%;
    }
    #author_animi
    {
        bottom: 2%;
        left: 12%;
    }
}
@media(max-width: 560px)
{
#author_animi
{
    position: absolute;
    bottom: 5%;
    left: 12%;
}
#title_animi
{
    position: absolute;
    width: 75%;
    top: 70%;
}
#mt_rep_logo
{
    position: absolute;
    width: 35%;
    left: 2%;
    bottom: 30%;
}
#atg
{
    position: absolute;
    width: 35%;
    top: 27%;
    left: 10%;
    animation: transitionText 1.5s;
}
#PSHP
{
    position: absolute;
    width:35%;  
    top: 40%;
    left: 10%;
    animation: transitionText 2s;
}
#blackfoot
{
  position: absolute;
  width:25%;  
  top: 10%;
  left: 10%;
  animation: transitionText 1s;
}
}