

video::-webkit-media-controls-fullscreen-button {
    display: none;
}
video::-webkit-media-controls- {
    display: none;
}
video::-webkit-media-controls-timeline {
    display: none;
}
video::-webkit-media-controls-time-remaining-display {
    display: none;
}
@media(max-width:2560px)
{
    video
{
    width: 100%;
}
}
@media(max-width:1920px)
{
    video
    {
        width: 100%;
    } 
}

@media(max-width: 760px)
{
    video
    {
        width: 100%;
    }
}
@media(max-width: 560px)
{
    video
    {
        width: 100%;
    }
}
@media only screen and (max-width:820px) and (orientation: landscape)
{
    #vid_box
    {
        width: 100%;
    }
    
}
@media(max-width: 375px)
{
    video
{
    width: 100%;
}
}
