#codecss {
    font-family: Arial;
    font-weight: bolder;
}

.sticky-footer{
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: right;  
}
.contact-status{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}

#mt-sort{

}

/* table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {

table{
    /* table-layout: fixed; */
    /* word-wrap: break-word; */
/*}
} */

.contact-info-h4{
    width: 50%;
    padding: 5px;
    font-size: 30px;
}

.contact-info-h5{
    width: 50%;
    font-size: 20px;
}

.notes-title {
    width: 50%;
    padding: 5px;
    font-size: 30px;
}

.notes-list{
    float: left;
    width: 50%;
    padding: 5px;
    font-size: 20px;
}

.institution_notes_area{
    background-color: gray;
}