#codecss {
    font-family: Arial;
    font-weight: bolder;
}

.sticky-footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: right;  
}

table{
    /* left: 0; */
    /* table-layout: fixed;
    word-wrap: break-word; */
}