.report-title{

}

.report-div{

}
.report-head{

}

/* .cont{
    margin: 5 auto;
} */

optgroup{
    font-size: 50px;
}
option{
    font-size: 20px;
    padding: 5px;
}
select{
    height: 30px;
    font-size: 20px;
    padding: 2px;
}